.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35%;
    padding: .5rem;
    font-size: 2rem;
    border: none;
}

.result {
    display: flex;
    justify-content: flex-end;
}