.container {
    display: grid;
    grid-template-columns: minmax(350px, 350px);
    grid-template-rows: 10vh 80vh 10vh;
    justify-content: center;
    color: rgb(254, 254, 254);
    background-color: var(--color-text-secondary);
}

.main {
    grid-row: 2 / span 1;
    background-color: var(--color-primary);
    border-radius: 30px;
    position: relative;
    color: var(--color-text-primary);
}

.theme {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 1.9rem;
    z-index: 1;
}

.toggleOn {
    display: none;
}


.toggleOff {
    display: inline;
}