.container {
    display: grid;
    grid-template-columns: minmax(350px, 30%);
    grid-template-rows: 10vh 80vh 10vh;
    justify-content: center;
    color: white;
    background-color: rgb(223, 238, 253);
}

.main {
    grid-row: 2 / span 1;
    background-color: rgb(57,67,81);
    border-radius: 30px;
}